<% content_for :title do %>Welcome to the Blog Network<% end %>

<div><h1 class="pull-left">Blogs</h1><br />
	<%= link_to 'Create Blog', new_blog_path, :class => "pull-right btn btn-success" %></div>
<table class="table table-bordered table-hover">
	<thead>
		<th>Title</th>
		<th>Description</th>
		<th>Owners</th>
	</thead>
	<tbody>
<% @all_blogs.each do |blog| %>
	<tr>
		<td><%= link_to("#{blog.name}", blog) %></td>
		<td><%= blog.description %></td>
		<td><% blog.users.each do |user| %><%= link_to "#{user.username}", user_path(user.id) %><br /><% end %></td>
	</tr>
	</tbody>
	<% end %>
</table>